[build]
publish = "public"
command = "hugo --gc --minify"

[context.production.environment]
HUGO_VERSION = "0.151.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1]
command = "hugo --gc --minify --enableGitInfo"

[context.split1.environment]
HUGO_VERSION = "0.151.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "0.151.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"

[context.branch-deploy]
command = "hugo --gc --minify -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "0.151.0"
GO_VERSION = "1.21.0"
NODE_VERSION = "20.5.1"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"



[[headers]]
  for = "/images/*"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
    Access-Control-Allow-Origin = "*"
[[headers]]
  for = "/css/*"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
    Access-Control-Allow-Origin = "*"
[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, s-max-age=604800"
    Access-Control-Allow-Origin = "*"
[[headers]]
  for = "/favicons/site.webmanifest"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Type = "application/manifest+json"