[build]
  publish = "public"
  command = "hugo --gc --minify --cleanDestinationDir --printPathWarnings --panicOnWarning"

[build.environment]
  HUGO_VERSION = "0.139.3"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "hugo --gc --minify --cleanDestinationDir --buildFuture --printPathWarnings --panicOnWarning -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "hugo --gc --minify --cleanDestinationDir --printPathWarnings --panicOnWarning -b $DEPLOY_PRIME_URL"
