@import "defaults";
@import "variables";
{{- $bookTheme := (.Site.Params.BookTheme | default "dark" | strings.TrimSpace | lower) -}}
@import "themes/{{ $bookTheme }}";

@import "normalize";
@import "utils";
@import "main";
@import "fonts";
@import "print";

@import "markdown";
@import "shortcodes";

// Custom defined styles
@import "custom";
