{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    <!--
        <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | absURL }}" role="button">Get started</a>
    -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">What's changed?</h2>
        <p>Get overview of <a href="./docs/main/changelog/">differences</a> between this edition and last year's one. get a quick rundown of the most important changes.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Volunteer driven</h2>
        <p>You will be expected to do at least one shift. The awesomeness is really <a href="./docs/main/volunteer/">up to you</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Consent</h2>
        <p>Consent is a state. If, instead of lovers, the two of you were synchronized swimmers, consent would be the water. <a href="./docs/faq/consent/">Inform yourself.</a></p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Principles</h2>
        <p>Our principles are a remix of the burning man principles, the hackerspace blueprint and some stuff we made up ourselves. <a href="./docs/faq/the-n-principles-of-rogue-rope/">Read and remix.</a></p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Foodstuffs</h2>
        <p>Maslow's hierarchy of needs will be respected, <a href="./docs/faq/consent/">read more</a> on what to bring and what will be provided.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Inform Yourself</h2>
        <p><a href="./docs">More to read</a>, please take your time to read it all. You will learn what to expect and what is expected from you.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
