{{ define "main" }}
  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" true) }}
        <div class="content hx:max-w-2xl">
          {{ if .Title }}
            <h1>{{ .Title }}</h1>
          {{ end }}
          {{ with .Params.lead }}
            <p class="hx:text-lg hx:text-gray-600 hx:dark:text-gray-400">{{ . }}</p>
          {{ end }}

          <div class="hx:mt-8 hx:max-w-xl">
            {{ partial "search.html" (dict "location" "page") }}
          </div>
        </div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const input = document.querySelector("main#content .hextra-search-input");
            if (input) {
              input.focus();
            }
          });
        </script>
      </main>
    </article>
  </div>
{{ end }}
